<% if post.favorited_by?(current_user) %>
	<%= link_to post_favorite_path(post, post.favorites.find_by(user_id: current_user.id)), method: :DELETE do %>
	<!-- 記事のid,「いいね」のid,「いいね」したcurrent_userのidを取得 -->
		<span class="glyphicon glyphicon-heart"><%= post.favorites.count %></span>
	<% end %>
<% else %>
	<%= link_to post_favorites_path(post), method: :POST do %>
		<span class="glyphicon glyphicon-heart-empty"><%= post.favorites.count %></span>
	<% end %>
<% end %>