<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>新しい投稿</h2>
		<%= render 'posts/newform', post: @post_new %>
	</div>
	<div class="col-xs-9">
		<h2>Users</h2>
		<!--users一覧 -->
		<%= render 'index',users: @users %>
		<!--users一覧 -->
	</div>
</div>

