
<div class='top-content'>
      <!-- <img src="assets/images/top-image3.jpg"> -->
  <div class="top-message">
    <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><strong>Anicode</strong>は、</p>
    <p>あなたの家族であるペットの記録を投稿できるサイトです。</p>
    <p>毎日の食事・お通じ・気になったことなどを記録しておけば、</p>
    <p>ペットの変化に気づきやすく、体調管理もしやすくなります。</p>
    <p><%= link_to '投稿一覧', posts_path %></p>
    <p>※記事へのコメント、いいねはログインしないと利用できません</p>
    <p><%= link_to 'ログイン', new_user_session_path %></p>
    <p><%= link_to '新規登録', new_user_registration_path %></p>
  </div>
</div>
